<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"
>
<head>
    <title>Add Recycling Centre</title>
    <link rel="stylesheet" th:href="@{/css/add.css}"/>

    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('google.maps.api.key')} + '&callback=initMap&libraries=places&v=weekly'}"
            async></script>

    <script type="text/javascript">
        // google.maps.event.addDomListener(window, 'load', function () {
        function initMap() {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = parseFloat( place.geometry.location.lat());
                var longitude = parseFloat(place.geometry.location.lng());


                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                document.getElementById("address").value = address;
            });
        }
    </script>
</head>

<body>
<div layout:fragment="content">

    <!-- Title -->
    <section class="Add-recycling-centre">

        <div class="Add-recycling-centre-text"></div>
        <h1>ADD RECYCLING CENTRES</h1>
    </section>

    <!-- Enter details section -->
    <section  class="enter-details">
        <div class="container grid">
            <div class="enter-details-text">
                <h1>
                    Please enter the following details to add a recycling centre
                </h1>
            </div>
        </div>
    </section>

    <div class ="form-section">
        <div class="container grid">
            <form th:action="@{/centres/new}" method="post" th:object="${centre}">

                <label class="form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>


                <label class="form-label">Local Authority</label>
                <input type="text" th:field="*{localAuthority}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('localAuthority')}"
                     th:errors="*{localAuthority}"></div>


                <label class="form-label">Email</label>
                <input type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>


                <label class="form-label">Website URL</label>
                <input type="url" th:field="*{url}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>


                <label class="form-label">Telephone</label>
                <input type="number" th:field="*{telephone}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('postcode')}"
                     th:errors="*{postcode}"></div>


                <label class="form-label">Postcode</label>
                <input type="text" th:field="*{postcode}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('postcode')}"
                     th:errors="*{postcode}"></div>


                <label class="form-label">Collection Day and Time</label>
                <input type="text" th:field="*{collectionDay}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('collectionDay')}"
                     th:errors="*{collectionDay}"></div>


                <label class="form-label">Enter Postcode</label>
                <input type="text" id="txtPlaces" class="form-control" placeholder="Enter a postcode"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('location')}"
                     th:errors="*{location}"></div>


                <input type="number" step="any" id="latitude" readonly th:field="*{location.latitude}" class="form-control"/>


                <input type="number" step="any" id="longitude" readonly th:field="*{location.longitude}" class="form-control"/>


                <input type="text" id="address" readonly th:field="*{location.address}" class="form-control"/>

                <button type="submit" class="btn-add">Add New</button>
            </form>
        </div>
    </div>

</div>

<th:block layout:fragment="javascript">
    <script>
        var content = document.getElementsByTagName('body')[0];
        var darkMode = document.getElementById('dark-mode');
        darkMode.addEventListener('click', function () {
            darkMode.classList.toggle('active');
            content.classList.toggle('night');
        })
    </script>

</th:block>


</body>
</html>