<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"
>
<head>
    <title>New Recycling Centre</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('google.maps.api.key')} + '&callback=initMap&libraries=places&v=weekly'}"
            async></script>
    <script type="text/javascript">
        // google.maps.event.addDomListener(window, 'load', function () {
        function initMap() {
            var places = new google.maps.places.Autocomplete(document.getElementById('txtPlaces'));
            google.maps.event.addListener(places, 'place_changed', function () {
                var place = places.getPlace();
                var address = place.formatted_address;
                var latitude = parseFloat( place.geometry.location.lat());
                var longitude = parseFloat(place.geometry.location.lng());


                document.getElementById("latitude").value = latitude;
                document.getElementById("longitude").value = longitude;
                document.getElementById("address").value = address;
            });
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/utilities.css}"/>
</head>

<body>
<div layout:fragment="content">


    <h1>New Recycling Centre</h1>
    <div class="row">
        <form th:action="@{/centres/update}" method="post" th:object="${centre}">
            <input type="hidden" th:field="*{id}" class="form-control" aria-describedby="emailHelp">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" th:field="*{name}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Local Authority</label>
                <input type="text" th:field="*{localAuthority}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('localAuthority')}"
                     th:errors="*{localAuthority}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">email</label>
                <input type="text" th:field="*{email}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Website url</label>
                <input type="url" th:field="*{url}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Telephone</label>
                <input type="number" th:field="*{telephone}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('postcode')}"
                     th:errors="*{postcode}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Postcode</label>
                <input type="text" th:field="*{postcode}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('postcode')}"
                     th:errors="*{postcode}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Collection and time</label>
                <input type="text" th:field="*{collectionDay}" class="form-control" aria-describedby="emailHelp">
                <div class="form-text text-danger" th:if="${#fields.hasErrors('collectionDay')}"
                     th:errors="*{collectionDay}"></div>
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                <input type="text" id="txtPlaces" class="form-control" placeholder="Enter a location"/>
                <div class="form-text text-danger" th:if="${#fields.hasErrors('location')}"
                     th:errors="*{location}"></div>
            </div>
            <div class="mb-3">
                <input type="number" step="any" id="latitude" readonly th:field="*{location.latitude}" class="form-control"/>
            </div>
            <div class="mb-3">
                <input type="number" step="any" id="longitude" readonly th:field="*{location.longitude}" class="form-control"/>
            </div>
            <div class="mb-3">
                <input type="text" id="address" readonly th:field="*{location.address}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>


</body>
</html>