<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}"
>
<head>
    <title>Recycling Centres</title>
    <link rel="stylesheet" th:href="@{/css/centres.css}"/>
    <link rel="stylesheet" th:href="@{/css/dark-mode.css}"/>
</head>

<body>
<div layout:fragment="content">

    <!-- Title -->
    <section class="Recycling-centres">

        <div class="Recycling-centres-text"></div>
        <h1>RECYCLING CENTRES</h1>
    </section>


    <div class="button-area">
        <p><a th:href="@{/centres/new}" class="btn-add">Add New</a></p>
    </div>
    <section class="table">
        <div class="container grid">
            <table class="content-table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Local Authority</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telephone</th>
                    <th scope="col">Postcode</th>
                    <td>
                        Action
                    </td>
                </tr>
                </thead>
                <body>
                <tr th:each="centre : ${recyclingCentres}">
                    <td th:text="${centre.name}"></td>
                    <td th:text="${centre.localAuthority}"></td>
                    <td th:text="${centre.email}"></td>
                    <td th:text="${centre.telephone}"></td>
                    <td th:text="${centre.postcode}"></td>
                    <td class="d-flex justify-content-between">
                        <a th:href="@{${centre.url}}" target="_blank" class="btn-visit">Visit</a>
                        <a th:href="@{/centres/edit/{id}(id=${centre.id})}" class="btn-edit">Edit</a>
                        <a th:href="@{/centres/delete/{id}(id=${centre.id})}" class="btn-delete">Delete</a>
                    </td>
                </tr>
                </body>
            </table>
        </div>
    </section>

</div>

<th:block layout:fragment="javascript">
    <script>
        var content = document.getElementsByTagName('body')[0];
        var darkMode = document.getElementById('dark-mode');
        darkMode.addEventListener('click', function () {
            darkMode.classList.toggle('active');
            content.classList.toggle('night');
        })
    </script>

</th:block>


</body>

</html>