<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/recyclable.css}">
    <link rel="stylesheet" th:href="@{/css/utilities.css}">

    <title>Recyclable Items</title>
</head>

<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <a th:href="@{/}" class="logo">
                <h1>No Waste.</h1>
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/recyclable}">Recyclable Items</a></li>
                    <li><a th:href="@{/locations}">Recycling Locations</a></li>
                    <li><a th:href="@{/centres}">Recycling Centres</a></li>
                    <li><a th:href="@{/dates}">Collection Dates</a></li>
                </ul>
            </nav>
            <label id="dark-mode"></label>
        </div>
    </div>

    <!-- Recyclable items title-->>
    <section class="Recycle">
        <div class="Recycle-text"></div>
        <h1>RECYCLABLE ITEMS</h1>
    </section>

    <!-- What Would you like to explore? -->
    <section class="explore">
        <div class="container grid">
            <div class="explore-text">
                <h1>What Would You Like To Explore?</h1>
                <p>
                    We want to bring ease to recycling and part of that means educating about the many everyday items
                    that can be
                    recycled. This page is for those who would like to understand what, and how to recycyle said items.
                    You can
                    either search for items in the box, or press the images below.
                </p>
            </div>
            <div>
                <!--Form-->
                <form class=Recyclableform>
                    <div class="input_container">
                        <p>Search Recyclable Items</p>
                        <!-- <label for = "Recyclableitem"> What would you like to recycle? </label> -->
                        <input type="text" id="Recyclableitem" name="Recyclableitem" size="50"><br><br>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Table of material -->
    <div class="row">
        <div class="column">
            <img th:src="@{/images/cans.jpg}" alt=metal style=width:100%>
        </div>
        <div class="column">
            <img th:src="@{/images/metal.jpg}" alt=plastic style=width:100%>
        </div>
        <div class="column">
            <img th:src="@{/images/plastic.jpg}" alt=wood style=width:100%>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer py-5">
        <div class="container grid grid-3">
            <div>
                <h1>Group 20</h1>
                <p>Copyright &copy; 2021</p>
            </div>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/recyclable}">Recyclable Items</a></li>
                    <li><a th:href="@{/locations}">Recycling Locations</a></li>
                    <li><a th:href="@{/centres}">Recycling Centers</a></li>
                    <li><a th:href="@{/dates}">Collection Dates</a></li>
                </ul>
            </nav>
            <div class="social">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.twitter.com"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>