<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">

<head>
    <title>Recyclable items</title>
    <link rel="stylesheet" th:href="@{/css/recyclable.css}" />
</head>

<body>
<div layout:fragment="content">
    <!--TITLE-->
    <section class="Recycle">

        <div class="Recycle-text"></div>
        <h1>RECYCLABLE ITEMS</h1>
    </section>

    <!-- What Would you like to explore? -->
    <section class="explore">
        <div class="container grid">
            <div class="explore-text">
                <h1>What Would You Like To Explore?</h1>
                <p>
                    We want to bring ease to recycling and part of that means educating about the many everyday
                    items that can be
                    recycled. This page is for those who would like to understand what, and how to recycyle said
                    items. You can
                    either search for items in the box, or press the images below.
                </p>
            </div>
            <div>
                <!--Form-->
                <form class=Recyclableform th:action = "@{/search}" method="get">
                    <div class="input_container">
                        <p>Search Recyclable Items</p>
                        <!--<label for = "Recyclableitem"> What would you like to recycle? </label> -->
                        <input type="search" id="Recyclableitem" name="Recyclableitem" size="50"><br><br>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!--  Metal info tile-->
    <section class="Metal-info-title">
        <h1>ALUMINIUM INFO</h1>
    </section>

    <section class="metal-info-main my-2">
        <div class= "metal-container">
        <div class = "metal-class">
            <p>
                Plastics and Aluminium are often recycled together. 
                Make sure they are thoroughly cleaned and placed on the right recycling bins. 
            </p>
        </div>
        <div class = "metal-class">
            <p>
                Infinitely and easily recyclable. 
                Most abundant element, and metal on the earths crust. 
                As a result, it is one of the most widely used and common materials, making up cars, bikes, drink cans etc. 
                Aluminium production requires an immense amount of energy, suing large amounts if water and causes soil pollution. 
                Transportation also leaves a notable carbon footprint. However, recycling aluminium would decrease the need for making more. 
                Statistics say about 54% of Americans recycle their cans. 
            </p>
        </div>
    </div>
    </section>
    <!-- Table of material -->
    <div class="container grid">
        <div class="column">
            <a href = "./Plastics">
            <img th:src="@{/images/bottles.jpg}" alt=plastic></a>
        </div>
        <div class="column">
            <a href = "./Paper">
            <img th:src="@{/images/paper.png}" alt=paper></a>
        </div>
    </div>
</div>

<th:block layout:fragment="javascript">
    <script>
        var content = document.getElementsByTagName('body')[0];
        var darkMode = document.getElementById('dark-mode');
        darkMode.addEventListener('click', function () {
            darkMode.classList.toggle('active');
            content.classList.toggle('night');
        })
    </script>

</th:block>

</body>

</html>