<div class="navbar" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <div class="container flex">
        <h1 class="logo">No Waste.</h1>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/recyclable}">Recyclable Items</a></li>
                <li><a th:href="@{/locations}">Recycling Locations</a></li>
                <li><a th:href="@{/centers}">Recycling Centers</a></li>
                <li><a th:href="@{/dates}">Collection Dates</a></li>
            </ul>
        </nav>
    </div>
</div>