/* Properties for all elements  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Properties for body  */
body {
  background-color: #ffffff;
}

.wrapper {
  display: flex;
  position: relative;
}

/* Properties for sidebar  */
.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #ffffff;
  position: fixed;
}

/* Properties for list within sidebar  */
.wrapper .sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

/* Properties for list text  */
.wrapper .sidebar ul li a {
  color: #000000;
  display: block;
}

/* Properties for fa icons  */
.wrapper .sidebar ul li a .fas {
  width: 25px;
}

/* Properties for list hover colour  */
.wrapper .sidebar ul li:hover {
  background-color: #b2b9b4;
}

/* Properties for list hover text colour  */
.wrapper .sidebar ul li:hover a {
  color: rgb(255, 255, 255);
}

/* Properties for main content  */
.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

/* Properties for header  */
.wrapper .main_content .header {
  font-size: 30px;
  padding: 42px;
  background: #4cbb68;
  color: #ffffff;
  border-bottom: 12px solid #4dda70;
}

/* Properties for logo  */
.wrapper .main_content .logo {
  float: left;
}
