@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
  list-style-type: none;
}
  /* Whole background*/
body {
  font-family: "Quicksand", sans-serif;
  background-color: #01a66c;
}

body.dark {
  background-color: #292c35;
}

a {
  text-decoration: none;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Dark mode */
label{
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
}
label:before{
  position: absolute;
  content: '';
  width:17px;
  height: 17px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #01a66c;
  cursor: pointer;
  transition: 0.4s;
}
label.active:before{
  left: 24px;
  background: #fff;
}

body.night{
  background: #35363a;
  color: #fff;
}

/* Navbar */
.navbar {
  background-color: #050505;
  color: #fff;
  height: 80px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #ffffff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  color: #01a66c;
} 

.navbar .flex {
  justify-content: space-between;
}

/* Footer */
.footer {
  color: white;
  background-color: #35363a;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer .social a {
  margin: 0 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid1{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}
