/* Recycle title*/
.Recycle {
  height: 400px;
  background-image: url(../images/recyclable_banner.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  text-decoration: 10px underline;
  text-decoration-color: #01a66c; 
  text-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  font-size: 35px;
  padding: 150px;
  margin-top: -20px;
  position: relative;
  
}

/* Slant design */
.Recycle::before,
.Recycle::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #01a66c; 
  transform: skewY(-3deg);
  -webkit-transform: skewY(-1.8deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* What would you like to explore?*/
.explore{
  height: 500px;
  background-color: #01a66c;
  color: white;
}

.explore .grid{
  text-align: center;
}

.today h1 {
  text-align: center;
  font-size: 40px;
}
.explore p{
  text-align: center;
  font-size: 25px;
}
.explore .grid{
  display: inside;
  grid-template-columns: 500px 445px;
  gap: 20px;
} 
.Recyclableform{
  position: center;
  box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.3);
  transition: 0.3s;
  width: 100%;
  margin:65px;
  font-weight: bold;
  color:rgb(255, 255, 255);
  font-size: 20px;
} 
/* On mouse-over, add a deeper shadow */

.Recyclableform:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input area
#Recyclableitem{
   /* background-color:transparent; */
    border: 0px;
    padding: 50px 15px;
    margin-left: 17.5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3); 

} 
/*Images in a row*/
.row {
  display: flex;
  padding: 30px;
}

.column {
  flex: 50px;
  padding: 20px;
} 

img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
}
  
/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .explore .grid,
  .today .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .explore {
    height: auto;
  }

  .explore-text {
    text-align: center;
    margin-top: 40px;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
