/* Recycle title*/
.Recycle {
    height: 400px;
    background-image: url(../images/recyclable_banner.jpg);
    background-size: cover;
    background-position: top;
    text-align: center;
    text-decoration: 10px underline;
    text-decoration-color: #01a66c;
    text-shadow: 0px 3px 15px black;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 160px;
    position: relative;
}

/* What would you like to explore?*/
.explore{
    padding: 20px;
    color: white;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
}

.explore .grid{
    text-align: center;
}

.explore h1 {
    text-align: center;
    font-size: 40px;
}
.explore p{
    text-align: center;
    font-size: 25px;
}
.explore .grid{
    display: inside;
    grid-template-columns: 500px 445px;
    gap: 20px;
}
.Recyclableform{
    position: center;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.3);
    transition: 0.3s;
    width: 100%;
    margin:65px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
/* On mouse-over, add a deeper shadow */

.Recyclableform:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
input area
#Recyclableitem{
    /* background-color:transparent; */
    border: 0px;
    padding: 50px 15px;
    margin-left: 17.5px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);

}
/*Images in a row*/
.row {
    display: flex;
    padding: 40px;
}

.column {
    flex: 50px;
    padding: 20px;
}

/* Tablets and under */
@media (max-width: 768px) {
    .grid,
    .explore .grid,
    .today .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .explore {
        height: auto;
    }

    .explore-text {
        text-align: center;
        margin-top: 40px;
    }
}

/* Mobile */
@media (max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}
