* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  .container_box{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    margin-left: 130px;
    margin-right: 130px;
    padding-bottom: 200px;
  }
  
  .box-1{
    background-color: grey;
    color:white;
    width: 250px;
    /* border: 15px solid greenyellow; */
    padding: 25px;
    margin: 20px;
    position: relative;
  }
  
  
   /* button */
        .select {
        display: block;
        width: auto;
        border: none;
        background-color:rgb(155, 149, 149);
        text-decoration: none;
        color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
      }   
      .select:hover {
        background-color: rgb(163, 197, 111);
        color: black;
      }

      .dot {
        height: 8px;
        width: 8px;
        background-color:black;
        border-radius: 50%;
        display: inline-block;
      }
        