/* Locations title*/
.Locations {
  height: 400px;
  background-image: url(../images/map-banner.jpg);
  background-size: cover;
  background-position: top;
  text-align: center;
  text-decoration: 10px underline;
  text-decoration-color: #01a66c;
  text-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  font-size: 35px;
  padding: 150px;
  margin-top: -20px;
  position: relative;

}

/* Slant design */
.Locations::before,
.Locations::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #01a66c;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-1.8deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* What would you like to do today */
.collection-dates {
  height: 200px;
  position: relative;
  text-align: center;
  background: #01a66c;
  padding-bottom: 40px;
}

.collection-dates h1 {
  font-size: 40px;
}

.collection-dates p {
  margin: 20px 0;
  font-size: 20px;
}

.collection-dates h3 {
  margin: 20px 0;
  font-size: 20px;
}

.collection-dates .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

input {
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type="text"] {
  background: #fff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
  border: 2px solid black;
}

input[type="submit"] {
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffc107;
  border: 2px solid black;
}
