<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <script th:src="@{https://kit.fontawesome.com/1dfa4a87c8.js}" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/utilities.css}"/>

    <th:block layout:fragment="head">
    </th:block>



</head>
<body>

<!-- Main Navigation -->
<!--header.html    -->
<div th:replace="fragments/header :: header"></div>

<!-- Content Section -->
<section layout:fragment="content"  id="main-content">
    <p>This is filled by the content template.</p>
</section>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<th:block layout:fragment="javascript">

</th:block>

</body>
</html>